<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ZuluConfig" type="Zulu.BusinessService.Configuration.ZuluConfig, Zulu.BusinessService" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="dependencyResolverTypeName" value="Zulu.BusinessService.Infrastructure.UnityDependencyResolver, Zulu.BusinessService" />
		<add key="IsTestApplication" value="TRUE" />
		<add key="SyncKey" value="kjWkslr4qw4UT28LAfKJsYIdy9m+/vHry3fY452DuydGk2=" />
		<add key="SyncSalt" value="lRG7r+BNLTqVcKq6pTsMfi==" />
		<add key="ClientID" value="1" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config"/>
  <ZuluConfig>
    <SqlServer ConnectionStringName="ZuluSqlConnection"/>
    <ScheduleTasks>
    </ScheduleTasks>
  </ZuluConfig>
</configuration>


