
<connectionStrings>
  <add name="ZuluSqlConnection" connectionString="Data Source=YANMYONAING-PC\SQL2012;Initial Catalog=ZuluPointOfSale;Persist Security Info=True;User ID=sa;Password=neverf0rget;MultipleActiveResultSets=True;Connect Timeout=120" />
  <add name="ZuluPOSClient.Properties.Settings.ZuluPointOfSaleConnectionString"
    connectionString="Data Source=G-13;Initial Catalog=ZuluPointOfSale;Persist Security Info=True;User ID=sa;Password=dangerous99"
    providerName="System.Data.SqlClient" />
  <add name="ZuluPOSClient.Properties.Settings.PointOfSaleManagementConnectionString"
    connectionString="Data Source=G-13;Initial Catalog=PointOfSaleManagement;Persist Security Info=True;User ID=sa;Password=dangerous99"
    providerName="System.Data.SqlClient" />
</connectionStrings>