<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZuluDataContext" connectionString="metadata=res://*/Data.ZuluDataModel.csdl|res://*/Data.ZuluDataModel.ssdl|res://*/Data.ZuluDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G-13;initial catalog=ZuluPOSClientDevEdition;persist security info=True;user id=sa;password=dangerous99;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>